<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">

<div th:insert="blocks/nav :: nav"></div>

<main class="page catalog-page">
    <section class="clean-block clean-catalog">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-dark">О нас</h2>
            </div>

            <p class="fs-5 text-break" align="justify">
                Национальная библиотека Беларуси, возглавляя систему библиотек страны, является хранительницей мощного
                информационного ресурса. Формируя его, она оперативно реагирует на требования времени, обеспечивая
                удовлетворение универсальных информационных запросов пользователей в интересах развития отечественной
                науки, экономики, производства, культурной и духовной сферы.
            </p>
            <p class="fs-5 text-break" align="justify">
                Приоритетная задача Национальной библиотеки – создание условий для формирования интеллектуального
                потенциала нации. Одной из главных миссий библиотеки является собирание и предоставление в пользование
                обществу фонда документов, отражающих знания человечества и сохранение культурных ценностей для
                потомков.
            </p>
            <p class="fs-5 text-break" align="justify">
                Сегодня Национальная библиотека Беларуси – это крупнейший информационный и социокультурный центр страны.
                Библиотека активно генерирует собственные и приобретает электронные информационные ресурсы крупнейших
                мировых производителей, предоставляет свободный доступ к национальным и мировым информационным ресурсам,
                располагает самым полным в республике фондом национальных и зарубежных документов. В фондах находится
                самая репрезентативная в республике коллекция материалов ООН, ЮНЕСКО, Всемирного банка, МАГАТЭ.
                Национальная библиотека получает и хранит документы Европейского союза, Совета Европы, ОБСЕ и других
                международных организаций.
            </p>

            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75186.49822028993!2d27.570829977075405!3d53.92147323765364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf9eb8a55555%3A0xefc5c22d187e0026!2z0KbQtdC90YLRgNCw0LvRjNC90LDRjyDQs9C-0YDQvtC00YHQutCw0Y8g0LHQuNCx0LvQuNC-0YLQtdC60LAg0LjQvC4g0K_QvdC60Lgg0JrRg9C_0LDQu9GL!5e0!3m2!1sru!2sby!4v1714127849683!5m2!1sru!2sby"
                    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.582761855788!2d27.565903593604375!3d53.921389860543115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf9eb8a55555%3A0xefc5c22d187e0026!2z0KbQtdC90YLRgNCw0LvRjNC90LDRjyDQs9C-0YDQvtC00YHQutCw0Y8g0LHQuNCx0LvQuNC-0YLQtdC60LAg0LjQvC4g0K_QvdC60Lgg0JrRg9C_0LDQu9GL!5e0!3m2!1sru!2sby!4v1714127928115!5m2!1sru!2sby"
                    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            <hr>
        </div>
    </section>
</main>

<div th:insert="blocks/footer :: footer" class="mt-auto"></div>

<script src="/js/bootstrap.min.js"></script>

</body>

</html>