<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-dark">Добавить</h2>
            </div>
            <div class="block-content">
                <form action="/books/add" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Название книги</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" required name="name">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>ISBN</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" required name="isbn" pattern="[0-9]{13}" minlength="13" maxlength="13">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Дата</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="date" required name="date"></div>
                            </div>
                        </div>
                   
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Автор</p>
                                </div>
                                <div class="col"><input class="form-control" type="text" required name="author"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Возрастная категория</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="category">
                                        <option th:each="f : ${categories}" th:value="${f}" th:label="${f.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Жанр</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="genre">
                                        <option th:each="t : ${genres}" th:value="${t}"
                                                th:label="${t.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Количество страниц</p>
                                </div>
                                <div class="col"><input class="form-control" type="number" min="1"
                                                        step="1" required name="quantity"></div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p>Фотография</p>
                                </div>
                                <div class="col"><input class="form-control" type="file" multiple="" required
                                                        accept="image/*" name="photos"></div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="row">
                                <div class="col-2">
                                    <p>Краткая аннотация</p>
                                </div>
                                <div class="col"><input class="form-control" type="text" required name="description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <button class="btn btn-primary" type="submit" style="margin-right: 15px;">Добавить</button>
                            <button class="btn btn-secondary" type="reset">Очистить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<div th:insert="blocks/footer :: footer" class="mt-auto"></div>

<script src="/js/bootstrap.min.js"></script>

</body>

</html>