<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Условия пользования</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">

<div th:insert="blocks/nav :: nav"></div>

<main class="page catalog-page">
    <section class="clean-block clean-catalog">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-dark">Условия пользования</h2>
            </div>

            <p class="fs-5 text-break text-center" align="justify">
                Разрешается брать книги только на два месяца
            </p>
            <p class="fs-5 text-break text-center" align="justify">
                Тел. номер: +999-99-999-99-99
            </p>
            <p class="fs-5 text-break text-center" align="justify">
                Тел. номер: +999-99-999-99-99
            </p>
            <p class="fs-5 text-break text-center" align="justify">
                Тел. номер: +999-99-999-99-99
            </p>
            <p class="fs-5 text-break text-center" align="justify">
                Telegram: @999
            </p>


        </div>
    </section>
</main>

<div th:insert="blocks/footer :: footer" class="mt-auto"></div>

<script src="/js/bootstrap.min.js"></script>

</body>

</html>