<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Аналитика</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-dark">Аналитика</h2>
            </div>

            <a onclick="generatePDF()" class="btn btn-primary w-100 mb-3">PDF</a>
            <div id="generatePDF" class="block-content">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8">
                        <div id="drawGenre" style="height: 400px"></div>
                        <hr>
                        <div id="drawCategory" style="height: 400px"></div>
                        <hr>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <p class="fs-4 m-0">Суммарное количество броней</p>
                    </div>
                    <div class="col">
                        <p class="fs-4 m-0" th:text="${income}"></p>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <p class="fs-4 m-0">Название книги</p>
                    </div>
                    <div class="col">
                        <p class="fs-4 m-0">Количество броней</p>
                    </div>
                </div>
                <div th:each="s : ${statistics}" class="row">
                    <div class="col">
                        <p class="fs-5 m-0 text-center" th:text="${s.book.name}"></p>
                    </div>
                    <div class="col">
                        <p class="fs-5 m-0 text-center" th:text="${s.days}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript">
    var genresString = /*[[${genresString}]]*/ [];
    var genresInt = /*[[${genresInt}]]*/ [];
    var categoriesString = /*[[${categoriesString}]]*/ [];
    var categoriesInt = /*[[${categoriesInt}]]*/ [];

    function generatePDF() {
        html2pdf(document.getElementById('generatePDF'));
    }

</script>
<script src="/js/stats.js"></script>

<div th:insert="blocks/footer :: footer" class="mt-auto"></div>

<script src="/js/bootstrap.min.js"></script>

</body>

</html>