<footer th:fragment="footer" class="text-center" style="background-color: #c1c7cd">
    <div class="container p-4">

        <section class="">
            <div class="row">

                <div class="col">
                    <h5 class="text-uppercase">Информация</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="/about" class="text-dark">О нас</a></li>
                        <li><a href="/info" class="text-dark">Условия пользования</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="text-uppercase">Связаться с нами</h5>
                    <ul class="list-unstyled mb-0">
                        <li><p class="fs-6 m-0">Тел. номер: +999-99-999-99-99</p></li>
                        <li><p class="fs-6 m-0">Telegram: @999</p></li>
                    </ul>
                </div>

            </div>
        </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © BookLand
    </div>

</footer>